html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Merriweather', Georgia, serif;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: #24242d; 
}

.app {
  text-align: center;
}

.adjective-input {
  padding: 0.2em;
  border: none;
  background: none;
  border-bottom: 2px solid #C6FC93;
  font-size: 2em;
  color: #C6FC93;
  outline: none;
  text-align: center;
}

.sentence {
  font-size: 4em;
  color: white;
}